table {
	border-collapse: collapse;
	/* ajoute une bordure pleine */
	border: 1px solid #000;

	/* marge extérieure de <table></table> */
	margin: 0 auto;
}

td {
	border: 1px solid transparent;
	/* largeur des cellules */
	width: 15px;
	/* hauteur des cellules */
	height: 15px;
}

td.createFruit {
	background-color: lawngreen;
	border-radius: 15px;
}

td.maleBody {
	/* ajoute une couleur de fond */
	background-color: aqua;
	/* ajoute une bordure arrondie */
	border-radius: 15px;
}

td.maleHead {
	/* ajoute une couleur de fond */
	background-color: blue;
	/* ajoute une bordure arrondie */
	border-radius: 15px;
}

td.maleTail {
	/* ajoute une couleur de fond */
	background-color: midnightblue;
	/* ajoute une bordure arrondie */
	border-radius: 15px;
}

td.femaleBody {
	/* ajoute une couleur de fond */
	background-color: pink;
	/* ajoute une bordure arrondie */
	border-radius: 15px;
}

td.femaleHead {
	/* ajoute une couleur de fond */
	background-color: purple;
	/* ajoute une bordure arrondie */
	border-radius: 15px;
}

td.femaleTail {
	background-color: magenta;
	border-radius: 15px;
	height: 5px;
}

.eatingFruit {
	height: 30px;
	width: 30px;
}



/*
#score {
	text-align: center;
	background-color: #f56;
	display: flex;
	justify-content: space-around;
	height: 40px;
}

#score span {
	display: inline-block;
	text-align: center;
	background-color: #bf2;
	border-radius: 15px;
	font-size: 20px;
	border: 8px solid rgb(112, 22, 22);
	width: 120px;
	padding: 1.5px;
}

#gameOver {
	position: absolute;
	left: 692px;
	text-align: center;
	font-size: 15px;
	border-radius: 15px;
	width: auto;
	display: none;
}

#gameOver span {
	background-color: aqua;
	width: 150px;
	display: inline-block;
	border-radius: 15px;
}

.image {
	opacity: 0;
	background-image: url("./baby-diable.png");
}

#jouer {
	background-color: #fb0;
	border-radius: 15px;
	font-size: 20px;
	border: 8px solid rgb(112, 22, 22);
	width: 120px;
}
*/
