table {
	/* ajoute une bordure pleine */
	border: 1px solid #000;

	/* marge extérieure de <table></table> */
	margin: 0 auto;
}

td {
	/* largeur des cellules */
	width: 15px;
	/* hauteur des cellules */
	height: 15px;
}

td.corps_snake {
	background-color: #af0;
	border-radius: 15px;
}

td.tete_snake {
	/* ajoute une couleur de fond */
	background-color: #f56;
	/* ajoute une bordure arrondie */
	border-radius: 15px;
}

td.fruit {
	background-color: #fa0;
	border-radius: 15px;
}

#score {
	/* centre le texte dans div id=score */
	text-align: center;
}

#score span {
	background-color: #bf2;
	border-radius: 15px;
	width: 120px;
	display: inline-block;
}

#gameOver {
	position: absolute;
	left: 692px;
	text-align: center;
	font-size: 15px;
	border-radius: 15px;
	width: auto;
	display: none;
}

#gameOver span {
	background-color: aqua;
	width: 150px;
	display: inline-block;
	border-radius: 15px;
}

.image {
	opacity: 0;
	background-image: url("./baby-diable.png");
}
