table {
	/* ajoute une bordure pleine */
	border: 1px solid #000;

	/* marge extérieure de <table></table> */
	margin: 0 auto;
}

td.corps_snake {
	background-color: #af0;
	border-radius: 10px;
}

td.tete_snake {
	/* ajoute une couleur de fond */
	background-color: #f56;
	/* ajoute une bordure arrondie */
	border-radius: 10px;
}

td.fruit {
	background-color: #fa0;
	border-radius: 10px;
}

#score {
	/* centre le texte dans div id=score */
	text-align: center;
	/* taille du texte dans div id=score */
	font-size: 10px;
}
